.kayakIntegration {
  position: center !important;
  height: 277px !important;
  width: 277px !important;
  z-index: 0 !important;
}

#block-kayakgeneralblock {
  height: 330px !important;
  width: 300px;
}

#block-kayakhotelsblock {
  height: 330px !important;
  width: 300px;
}

#block-kayakflightsblock {
  height: 330px !important;
  width: 300px;
}
